.wrapper {
    /* background-color: pink; */
    min-height: 100vh;

    display: flex;
}

.divVideo {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    width: 70vw;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0px;
}

.divOutros {
    /* background-color: blue; */

    display: flex;
    flex-direction: column;

    width: 30vw;
    padding: 2rem;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
@media (max-width:1600px) {}

/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .wrapper {
        /* background-color: pink; */
        display: flex;
        flex-direction: column;
    }

    .divVideo {
        width: 100vw;
    }

    .divOutros {
        /* background-color: blue; */
        width: 100vw;
        padding: 2rem;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}