.wrapper {
    /* background-color: pink; */
    height: 100vh;

    display: flex;
}

.divVideo {
    /* background-color: red; */

    display: flex;
    justify-content: center;

    width: 70vw;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0px;
}

.divOutros {
    /* background-color: blue; */

    display: flex;
    flex-direction: column;

    width: 30vw;
    padding: 2rem;
}