.wrapper {
    /* background-color: pink; */
    min-height: 100vh;
    display: flex;
}

.divVideo {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    width: 70vw;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-fit: contain; */
    object-position: center;
    border-radius: 0px;
    border-right: 1px solid var(--cor-border-hr)
}

.divOutros {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;

    width: 30vw;
    padding: 2rem;
}

.topico {
    color: var(--branco);
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -.036em;
    cursor: pointer;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
@media (max-width:1600px) {}

/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .wrapper {
        min-height: fit-content;
    }

    .wrapper {
        /* background-color: pink; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .divVideo {
        width: 100vw;
    }

    .divOutros {
        /* background-color: blue; */
        width: 100vw;
        padding: 2rem;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}