.bubble {
    margin-top: 1.5rem;
    position: relative;
    width: fit-content;
    max-width: 60%;
    height: auto;
    background-color: var(--branco);

    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

    padding: 1em;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: left;
}

/* =-=-=-=-=-=-=-=-= Esquerda =-=-=-=-=-=-=-=-= */
.bubbleEsquerda:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: var(--branco) var(--branco) transparent transparent;
}

/* =-=-=-=-=-=-=-=-= Direita =-=-=-=-=-=-=-=-= */
.bubbleDireita {
    /* background-color: pink !important; */
    margin-left: auto;
}

.bubbleDireita:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: var(--branco) transparent transparent var(--branco);
}

/* =-=-=-=-=-=-=-=-= Outros =-=-=-=-=-=-=-=-= */
.divPrincipal {
    /* background-color: pink; */
    max-height: 80vh !important;
    width: 60vw !important;
    margin-left: auto;
    margin-right: auto;
}

.divMensagens {
    /* background-color: pink; */
    background-color: rgba(59, 59, 59, 0.15);
    border-radius: 10px;
    margin-top: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    min-height: 47vh !important;
    max-height: 47vh !important;
    overflow-y: scroll !important;
    overflow-x: hidden;
}

.divListaUsuariosOnline {
    background-color: rgba(59, 59, 59, 0.15);
    border-radius: 10px;
    padding: 1rem;
    color: var(--branco);
}

.msgPequena {
    font-size: 0.6rem !important;
}

.centralizar {
    /* background-color: pink; */
    text-align: center;
}

.botaoCustom {
    /* background-color: pink; */
    width: 300px !important;
    margin: auto;
    margin-top: 0.8rem;
}

.botaoCustom button {
    width: 300px !important;
}

.textareaCustom {
    min-height: 150px !important;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
@media (max-width:1600px) {
    .divPrincipal {
        /* background-color: pink; */
        width: 80vw !important;
    }
}

/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .divPrincipal {
        /* background-color: pink; */
        width: 100vw !important;
    }

    .bubble {
        max-width: 60%;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .bubble {
        max-width: 80%;
    }

    .botaoCustom {
        width: 100% !important;
    }

    .botaoCustom button {
        width: 100% !important;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
    .bubble {
        max-width: 85%;
    }

    .textareaCustom {
        min-height: 100px !important;
    }
}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}