/* =-=-=-=-=-=-=-=-= Botão =-=-=-=-=-=-=-=-= */
.botaoCustom button {
    width: 300px;
    background: var(--cor-principal);
}

/* =-=-=-=-=-=-=-=-= Margens =-=-=-=-=-=-=-=-= */
.margemTopXP {
    margin-top: 0.5rem;
}

.margemTopP {
    margin-top: 1rem;
}

.margemTopM {
    margin-top: 1.5rem;
}