.flexCenter {
    /* background-color: pink; */
    display: flex;
    align-items: center;
}

/* =-=-=-=-=-=-=-=-= divCards =-=-=-=-=-=-=-=-= */
.divCards {
    /* background-color: pink; */
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    row-gap: 30px;
}

.divCards section {
    /* background-color: blue; */
    flex: 0 0 30%;
    min-height: 400px;

    display: flex;
    justify-content: center;
}

.divCards section div {
    /* background-color: blue; */
    width: 100%;
}

.limitar4Linhas {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.margemTitulo {
    margin-top: 10rem;
}

.centralizar {
    /* background-color: pink; */
    text-align: center;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- [nome].js =-=-=-=-=-=-=-=-=-=-=-=- */
.topico {
    color: var(--branco);
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -.036em;
    cursor: pointer;
}

.divCurso {
    transition: background-color 0.2s ease-in-out;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: .4s ease-in-out;
}

.divCurso:hover {
    background-color: var(--cor-principal-opaca);
    cursor: pointer;
    transition: .4s ease-in-out;

    /* Gambi para o background ficar maior que a div */
    padding-left: 30px;
    margin-left: -30px;
}

.input {
    top: 0;
    left: 0;
    width: fit-content;
    height: 100%;
    padding: 0 3.2em 0 1rem;
    border: none;
    -webkit-appearance: textfield;
    appearance: textfield;
    background: transparent;
    color: var(--branco);
    font-family: inherit;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1;
    outline: none;
    padding-bottom: 1rem;
    border-bottom: 1px white solid;
}

.divDescCurso {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
}

.divDescCurso span {
    flex: 0 0 45%;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .divCards {
        /* background-color: red; */
        width: 90vw;
    }

    .divCards section {
        /* background-color: blue; */
        flex: 0 0 40%;
    }
    
    .divDescCurso {
        /* background-color: red; */
        gap: 0.5rem;
    }

    .divDescCurso span {
        /* background-color: red; */
        flex: 0 0 90%;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
    .divCards section {
        /* background-color: blue; */
        flex: 0 0 100%;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .input {
        font-size: 2rem;
    }    
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
    .divCards {
        display: flex;
        flex-wrap: unset;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        row-gap: 10px;
    }

    .divCards section {
        flex: unset;
        width: 95% !important;
    }

    .input {
        font-size: 1.5rem;
    }   
}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}