/* =-=-=-=-=-=-=-=-=-=-=-=- Layout =-=-=-=-=-=-=-=-=-=-=-=- */
.secaoPrincipal {
    background-color: var(--preto);
    min-height: 100vh;

    display: flex;
    overflow: hidden;
}

.secaoPrincipal aside {
    /* background-color: red !important; */
    width: 20vw;

    border-right: 1px solid var(--cor-border-hr);

    padding: 2rem;
}

.secaoPrincipal main {
    /* background-color: blue !important; */
    width: 80vw;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    padding: 2rem;
    padding-left: 5rem;
}

.secaoPrincipal main div {
    display: flex;
    flex-direction: column;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Index =-=-=-=-=-=-=-=-=-=-=-=- */
.divTags {
    /* background-color: pink; */
    margin-top: 10px;

    display: flex;
    align-items: center;
    flex-direction: row !important;
    gap: 10px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- [id] =-=-=-=-=-=-=-=-=-=-=-=- */
.flex {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.04em;
    font-weight: 700;
    color: var(--branco);
}

.subtitulo {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: #A7A7A7;
}

.textoNormal {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    color: #A7A7A7;
}

