/* =-=-=-=-=-=-=-=-=-=-=-=- Layout =-=-=-=-=-=-=-=-=-=-=-=- */
.secaoPrincipal {
    background-color: var(--preto);
    min-height: 100vh;

    display: flex;
    overflow: hidden;
}

.secaoPrincipal aside {
    /* background-color: red !important; */
    width: 20vw;

    border-right: 1px solid var(--cor-border-hr);

    padding: 2rem;
}

.secaoPrincipal main {
    /* background-color: blue !important; */
    width: 80vw;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.flexColumn {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Index =-=-=-=-=-=-=-=-=-=-=-=- */
.divTags {
    /* background-color: pink; */
    margin-top: 10px;

    display: flex;
    align-items: center;
    flex-direction: row !important;
    gap: 10px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- [id] =-=-=-=-=-=-=-=-=-=-=-=- */
.titulo {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.04em;
    font-weight: 700;
    color: var(--branco);
}

.subtitulo {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: #A7A7A7;
}

.textoNormal {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    color: #A7A7A7;
}

.thumb {
    border-radius: 10px;
}

.flexMeio {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 50%;
}

.topico {
    color: var(--branco);
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -.036em;
    cursor: pointer;
}

.divAula {
    transition: background-color 0.2s ease-in-out;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.divAula:hover {
    background-color: var(--cor-principal-opaca);
    cursor: pointer;

    /* Gambi para o background ficar maior que a div */
    padding-left: 30px;
    margin-left: -30px;
}

.divAula:hover .textoHoverDivAula {
    color: var(--cor-principal) !important;
    transition: .4s ease-in-out;
}